@font-face {
    font-family: myFont;
    src: url(josefin-sans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: polaroid;
    src: url(permanent-marker/PermanentMarker.ttf);
  }

* {
  font-family: myFont;
}


.container-fluid {
  border: grey;
  font-size: 18px;
}

.centreLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}

nav {
  position: fixed;
  top: 95px;
  border: none !important;
  background: #fff !important;
}

nav:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px;
  top: 42px;
  left: 15%;
  background-color: black;
}

.navbar .navbar-nav {
  vertical-align: top;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: black;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a:focus {
  color: black;
  font-weight: bold;
}

.projects-aside {
  width: 20%;
}

.portfolioImage {
  height: 100px;
  width: 100px;
  border-radius: 500px;
  border: 1px black solid;
}

.portfolioList {
  list-style: none;
}


.displayProject {
width: 60%;
float: right;
margin-right: 200px;
padding-left: 100px;
padding-right: 60px;
border: 1px lightgrey solid;
}

.title {
  text-align: center;
  text-shadow: 1px 1px lightgray;
}

h3 {
  text-shadow: 0.3px 0.3px lightgray;
}
.gameShot {
  width: 800px;
  height: 400px;
}

.links {
  text-decoration: none;
  color: blue;
}

.icons {
  width: 30px;
  height: 25px;
}

.portfolioList img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.portfolioList img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

.webdeveloper {
  align-items: center;
border: lightgray 1px solid;
margin-left: 25px;
}

ol {
  list-style: none;
}

.section-container {
  top: 100px;
  width: 70%;
  left: 15%;
  position: relative;
  /*border: 1px black solid;*/
}

.btn  {
  margin-right: 5px;;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  letter-spacing: .1em;
  background-color: rgb(162,216,215);
  color: white;
text-shadow: 1px 1px 1px #333333;


}

.projectUL {
  padding: 0;
}

.projectsList {
  list-style: none;
  display: inline-block;
  color: black;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
 -webkit-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
 -ms-filter: grayscale(100%);
 filter: grayscale(100%);
 filter: gray; /* IE 6-9 */
}


.projectsList:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}


.portfolioProjectImage {
  margin-top: 5px;
  margin-left: 8.5px;
  height: 320px;
  width: 340px;
  border-radius: 2px;
  border: darkgray 1px solid;
}

.project-box {
  background-color:#FEFDFB;
  box-shadow: 2px 1px 1px lightgray;
  border: darkgray 1px solid;
  /*background-color: #1A1A1A;*/
  font-weight: bold;
  height: 390px;
  width: 360px;
  margin-right: 10px;
  border-radius: 5px;
}

.projectPolaroidTitle {
  font-family: polaroid;
  margin-left: 130px;
  margin-top: 15px;
  font-size: 15px;
}

.giph {
  height: 320px;
  width: 340px;

}

.burger {
  background: url(../images/BurgerHop.png) center center no-repeat;
  background-size: 340px 340px !important;
}

.burger:hover {
  background: url(../images/burgerHop.gif) center center no-repeat;
  transition: background .2s linear;

}

.event {
  background: url(../images/EventFinder.png) center center no-repeat;
  background-size: 340px 340px !important;
}

.event:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}

.movies {
  background: url(../images/Movies.png) center center no-repeat;
  background-size: 340px 340px !important;
}

.movies:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}

.clock {
  background: url(../images/clock.png) center center no-repeat;
  background-size: 340px 340px !important;
}

.clock:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}
