@font-face {
    font-family: myFont;
    src: url(josefin-sans/JosefinSans-Light.ttf);
}

@font-face {
    font-family: nameLogo;
    src: url(remachine_script/RemachineScript_Personal_Use.ttf);
  }

* {
  font-family: myFont;
  /*background-color: rgba(230,230,230, 0.3);*/
}

.nameLogo {
  color: #008080;
  font-size: 80px;
  font-family: nameLogo;
  text-shadow: 1px 1px 1px darkgray;
  display: flex;
  justify-content: center;
}


nav {
  border: none !important;
  position: fixed;
  background: none !important;
  top: 0;
}

nav:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 42px;
  background-color: black;
}

.navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.navbar-inverse {
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: black;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a:focus {
  color: black;
  font-weight: bold;
}

.portfolioImage {
  height: 140px;
  width: 140px;
  border-radius: 500px;
  border: 1px black solid;
}

.portfolioList {
  list-style: none;
}

.projectSlideshow {
  width: 600px;
  height: 400px;
  margin-bottom: 10px;
  padding: 0;
  border: 1px lightgray solid;
}

.links {
  text-decoration: none;
}

.icons {
  width: 30px;
  height: 25px;
}

.portfolioList img {
  margin-bottom: 5px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.portfolioList img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

/*.webDeveloperDiagram {
align-items: center;
border: lightgray 1px solid;
margin-left: 25px;
}*/

ol {
  list-style: none;
}


.btn  {
  margin: 10px;
  margin-right: 5px;
  align-items: center;
  letter-spacing: .1em;
  background-color: #A2D8D7;
  border-color: #91c2c1;
}

.btn:hover {
  background-color: #008080;
}

.btn:focus {
  background-color: lightgray;
  color: white;
}

.projectsList {
  list-style: none;
  display: inline-block;
  color: black;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.portfolioProjectImage {
  margin-top: 5px;
  margin-left: 3.7px;
  height: 320px;
  width: 340px;
  border: darkgray 1px solid;
}

.project-box {
  background-color:#FEFDFB;
  box-shadow: 2px 1px 1px lightgray;
  border: darkgray 1px solid;
  font-weight: bold;
  height: 350px;
  width: 350px;
  margin-right: 10px;
  border-radius: 3px;
}

.project-box:hover {
  background-color:#1a1a1a;
  color: white;
}


.projectPolaroidTitle {
  margin-left: 130px;
  margin-top: 320px;
  font-size: 15px;
  color: black;
}

.projectPolaroidTitle:hover {
  color: white;
}


/* HOME - GIPHY EFFECT*/
.burger {
  background: url(../images/BurgerHop.png) center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.burger:hover {
  background: url(../images/burgerHop.gif) center center no-repeat;
  transition: background .2s linear;

}

.event {
  background: url(../images/event-finder.png) center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.event:hover {
  background: url(../images/event-finder.gif) center center no-repeat;
  transition: background .2s linear;
}

.movies {
  background: url(../images/Movies.png) center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.movies:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}

.clock {
  background: url(../images/clock.png) center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.clock:hover {
  background: url(../images/clock.gif) center center no-repeat;
  transition: background .2s linear;
}
.placeholderOne {
  background: url(../images/comingSoon.jpg) center center no-repeat;
  background-size: 340px 340px !important;
}

.placeholderOne:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}
.placeholderTwo {
  background: url(../images/comingSoon.jpg) center center no-repeat;
  background-size: 340px 340px !important;
}

.placeholderTwo:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}


.section-box {
  margin-top: 90px;
  padding-top: 30px;
  padding-bottom: -30px;
}
.un-selected-section {
  transition: all .2s linear;
  font-size: 30px;
}
.selected-section {
  font-size: 45px;
  transition: all .2s linear;
}

.skillsList {
  display: inline-block;
}

.skillImage {
  width: 80px;
  height: 80px;
  margin: 30px;
}

.skillsTitle {
  align-items: center;
  text-align: center;
}
