@import url('https://fonts.googleapis.com/css?family=Montserrat|Open Sans');
html,
body {
  width: 100%;
  height: 100%;
}

*{
  font-family: Montserrat;

}

// navigation bar

.top {
  position: fixed !important;
  top: 0px !important;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: white;

}

.navbar,
container {
  background:white;
  min-height: 45px;
  height: 45px;
}

.navbar-collapse {
  text-align: right;
}

//navigation text
#navbar {
  padding-right: 5%;
}

p .topnav {
  padding-left: 5%;
}

.topnav .navbar-brand {
  font-size: 15px;
  font-family: Montserrat;
  letter-spacing: 3px;
  color: black;
  text-transform: uppercase;
}

.topnav ul.nav li a {
  font-size: 12px;
  font-family: Montserrat;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.topnav ul.nav li a:hover {
  text-decoration: underline;
}

.mail {
  width: 20px;
  height: 20px;
}

//home


/*.container .jumbotron, .container-fluid .jumbotron {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/d5/e3/4a/d5e34a5a8d2e8d6fc5cc662f2411668a.jpg");
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}*/
.box-container {
  padding-top: 12vh;
}

.box {
  background-color: rgba(255, 255, 255, .8);
  margin: auto;
  width: 30vh;
  padding: 5vh;
  text-align: center;
}

//portfolio
#projects {
  box-shadow: 0 20px 15px -1px hsla(0,0%,0%,.25);
}

h3 {
  text-align: center;
  font-family: Montserrat;
  padding: 18px;
}

.short-line {
  border-color: #b76e79;
  width: 4vh;
}

.btn-group {
  width: 50vw;
}

.btn  {
  margin: 10px;
  margin-right: 5px;
  align-items: center;
  letter-spacing: .1em;
  color: white;
  text-shadow: 0.1px 0.1px 0.1px black;
  font-family: Montserrat;
}

.btn:hover {
  background-color: green;
  color: white;
}

.btn:focus {
  background-color: lightgray;
  color: white;
}

.portfolioHome {
padding: 50px;
}

.portfolioProjectImage {
  margin: 5px;
  height: 24em;
  width: 23em;
  box-shadow: 0 20px 15px -1px hsla(0,0%,0%,.25);
}


.portfolioProjectImage:hover {
 -webkit-transition: all 0.30s ease-in-out;
 -moz-transition: all 0.30s ease-in-out;
 -ms-transition: all 0.30s ease-in-out;
 -o-transition: all 0.30s ease-in-out;
 padding: 3px 0px 3px 3px;
 margin: 5px 1px 3px 0px;
 box-shadow: 0 0 5px rgba(81, 203, 238, 1);
 border: 1px solid rgba(81, 203, 238, 1);
}


/* HOME - GIPHY EFFECT*/
.burger {
  background: url('http://www.webweaver.nu/clipart/img/misc/food/fast-food/hamburger.png') center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.burger:hover {
  background: url(../images/burgerHop.gif) center center no-repeat;
  transition: background .2s linear;

}

.event {
  background: url(../images/event-finder.png) center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.event:hover {
  background: url(../images/event-finder.gif) center center no-repeat;
  transition: background .2s linear;
}

.movies {
  background: url(../images/Movies.png) center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.movies:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}

.clock {
  background: url(../images/clock.png) center center no-repeat;
  background-size: 340px 340px !important;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}

.clock:hover {
  background: url(../images/clock.gif) center center no-repeat;
  transition: background .2s linear;
}
.placeholderOne {
  background: url(../images/comingSoon.jpg) center center no-repeat;
  background-size: 340px 340px !important;
}

.placeholderOne:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}
.placeholderTwo {
  background: url(../images/comingSoon.jpg) center center no-repeat;
  background-size: 340px 340px !important;
}

.placeholderTwo:hover {
  background: url() center center no-repeat;
  transition: background .2s linear;
}

/*PROJECT INFO CONTAINER*/
.project-container {
  margin-top:90px !important;
}

.projectPage {
  border: 2px rgba(49,53,53,0.5) solid;
    display: inline-flex;
    height: 65vh;
    width: 84%;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.projectInfoImage{
      height: 41.85em;
      width: 35em;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      padding-left: 0;
      display: inline-flex;
      vertical-align: top;
}


.projectText{
  padding: 0;
}

.projectListContainer{
  padding: 0;
}
.links {
  text-decoration: none;
}

.icons {
  width: 30px;
  height: 25px;
}

/*SIDE LIST*/
.portfolioList {
  list-style: none;
}

.projectsListBox {
  border: 1px rgba(49,53,53,0.5) solid;
}

.projectsListTitle {
  display: block;
  font-family: bold;
  font-family: Montserrat;
  letter-spacing: 0.2px;
  margin-left: 5px;
}

.portfolioImage {
  display: inline;
  height: 5em;
  width: 7em;
  border: 1px black solid;
  margin-left: 5px;
  margin-top: 8px;
}



.portfolioList img {
  margin-bottom: 5px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.portfolioList img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

.projectsList {
  list-style: none;
  display: inline-block;
  background-color: rgba(255,255,255, .2);
  background-blend-mode: overlay;
}


/********************************** PROFILE - ICONS********************************************/

/*.icon-container img {
  margin-right: 20px;
}*/

.profile-mail {
  height: 75px;
  width: 60px;
}

.cv {
  height: 38px;
}

.ProfileIcon {
  height: 40px;
}


.skillsUL {
  padding: 0;
  margin: 0;
}

.skillsList {
  display: inline-block;
  padding: 0;
}

.skillImage {
  width: 40px;
  height: 50px;
  margin-right:5px;
  margin-bottom: 10px;
  box-shadow: 0 20px 15px -1px hsla(0,0%,0%,.25);
  display: block;
  height: 60%;
  -webkit-transition: .5s;
}

.skillsTitle {
  border: 3px solid rgb(0, 128, 128);
  letter-spacing: 0.1em;
  font-size: bold;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  padding: 7px 2px;
  color: rgb(0, 128, 128);
}

figure {
    height: 7em;
    width: 6em;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .5s;
}
figure:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
/*img {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    display: block;
    height: 100%;
    -webkit-transition: .5s;
}*/
figure:hover img {
    box-shadow: none;
}
figcaption {
    color: #fff;
    padding: 15px 0px;
    text-align: center;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .5s;
}
figure:hover figcaption {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    color: #222;
}


.interestsTitle {
  border: 3px solid rgb(0, 128, 128);
  letter-spacing: 0.1em;
  font-size: bold;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
  padding: 7px 2px;
  color: rgb(0, 128, 128);
}




.col-md-offset-6 {
  margin-left: 0px;
}


.col-md-offset-9 {
  margin-left: 0px;
}

.list-group {
  list-style: none;
}

.list-group li {
  margin-top: 5px;
  margin-bottom: 45px;
}




//about
.about {
  padding-top: 10px;
  margin: 0 11vh;
  text-align: center;
}

.profilePic {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: white solid 2px;
  display: inline;
  -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

p.large-text {
  text-align: justify;
  font-family: Open Sans;
}

//footer
.bottom {
  font-family: Montserrat;
  font-size: 24px;
  bottom: 0;
  height: 180px;
  text-align: center;
}

.longer-line {
  margin: 40px;
}

.fcc-icon {
  width: 5vh;
  padding-bottom: 3px;
}

a {
  color: inherit;
}

.icons,
a:hover {
  color: inherit;
  text-decoration: none;
}

#aw-icon {
  letter-spacing: 2px;
}

.copyright {
  font-family: Open Sans;
  font-size: 8px;
  margin: 10px;
}
