
<div class="projects-aside">
<ul class="portfolioList">
  <li class="portfolioList"><img class="portfolioImage" ng-src="/images/BurgerHop.png"/><p>Burger Hop</p></li>
  <li class="portfolioList"><img class="portfolioImage" ng-src="/images/clock.png"/><p>Clock</p></li>
  <li class="portfolioList"><img class="portfolioImage" ng-src="/images/EventFinder.png"/><p>EventFinder</p></li>
  <li class="portfolioList"><img class="portfolioImage" ng-src="/images/Movies.png"/><p>Movies</p></li>
</ul>
</div>
