<!--home-->




<!--projects-->
<div ui-view="header"></div>

<div class="container">

<div ng-controller="PortfolioController as portfolio">
  <h3>PROJECTS</h3>
  <hr class="short-line">


    <div class="btn-group col-md-offset-2">
      <button ng-click="portfolio.filter('AngularJS')" type="button" class="btn btn-success">AngularJS</button>
      <button ng-click="portfolio.filter('Node.js')" type="button" class="btn btn-success">Node.js</button>
      <button ng-click="portfolio.filter('Express')" type="button" class="btn btn-success">Express</button>
      <button ng-click="portfolio.filter('Javascript')" type="button" class="btn btn-success">Javascript</button>
      <button ng-click="portfolio.filter('jQuery')"  type="button" class="btn btn-success">jQuery</button>
      <button ng-click="portfolio.filter('Firebase')" type="button" class="btn btn-success">Firebase</button>
      <button ng-click="portfolio.showAll()" type="button" class="btn btn-success">All</button>
    </div>


<!---PORTFOLIO FIRST DISPLAY-->
<div class="col-md-12">

  <ul ng-mouseenter="project.gif"
      ng-mouseleave="show = false"
      ng-hide="portfolio.projectContainer"
      class="portfolioHome">
    <li ng-repeat="project in portfolio.projects track by $index"
        class="projectsList">

       <div class="portfolioProjectImage {{project.class}}"
            ng-if="project.visible"
            ng-click="portfolio.selectProject(project)">
            </div>
    </li>
  </ul>
</div>

  <!---PORTFOLIO INDIVIDUAL PROJECT-->

           <div class="projectInfo projectPage d-flex justify-content-center"
                ng-show="portfolio.projectContainer"
                ng-repeat="project in portfolio.projects"
                ng-if="project.isProjectVisible">

             <img class="projectInfoImage img-responsive col-md-3"
                  ng-src="{{project.img}}"/>


            <div class="col-md-5 projectText">
              <h3 class="title">{{project.title}}</h3>
              <p>Technology: {{project.tags}}</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>

                 <em><p>Want to see for yourself?</p></em>
               <p><img class="icons" ng-src="/images/github.png"/>
                 <a href="{{project.githubLink}}" target="_blank" class="links">Github</a></p>
               <p>
                 <img class="icons" ng-src="/images/heroku.png"/><a href="{{project.herokuLink}}" target="_blank" class="links">Heroku</a></p>
            </div>

            <div ng-show="portfolio.projectContainer"  class="col-md-3 projectListContainer">
                  <div ng-repeat="project in portfolio.projects">
                    <div ui-view="project.state"
                         ng-if="project.isProjectVisible" >
                    </div>
                  </div>

                    <ul>
                     <li ng-repeat="project in portfolio.projects track by $index"
                         class="portfolioList">
                      <div class="projectsListBox"
                           ui-sref="{{project.state}}">
                          <div ng-class="portfolio.imageClass"></div>
                            <img ng-src="{{project.img}}"
                                 class="portfolioImage img-responsive"
                                 ng-click="portfolio.selectProjectFromList(project)"/>
                            <p class="projectsListTitle">{{project.title}}</p>
                        </div>
                       </li>
                     </ul>
              </div>

           </div>


<!---PORTFOLIO SIDE LIST-->


</div>




 <div  class="text-center">
    <h3>About</h3>
    <hr class="short-line">


<div class="center">
  <img ng-src="../images/me.jpg" class="profilePic"/>
  <div class="icon-container">
    <a href="mailto:asmachaima93@gmail.com?Subject=Mail%20from%20website" target="_top">
       <img ng-src="../images/mail.png" class="profile-mail"/>
    </a>
    <a href="../..images/Asma-Chaima-CV.pdf" download="">
       <img ng-src="../images/cv.jpg" class="cv"/>
     </a>
    <a href="https://github.com/achaima" download="">
       <img ng-src="../images/skills/github.png" class="ProfileIcon"/>
     </a>
     <a href="https://github.com/achaima" download="">
        <img ng-src="../images/linkedIn.png" class="ProfileIcon"/>
      </a>
</div>
</div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div ng-controller="ProfileController as profile">




  <div class="col-md-4">
  <h3 class="skillsTitle">Skills</h3>
    <ul class="skillsUL">
      <li ng-repeat="skill in profile.skills track by $index" class="skillsList">
        <figure>
          <img ng-src="{{skill.img}}" class="skillImage"/>
            <figcaption>
                {{skill.title}}
            </figcaption>
        </figure>
       </li>
    </ul>
  </div>


  <div class="col-md-offset-6 col-md-3">
  <h3 class="interestsTitle">Education</h3>

  <ol class="list-group">
         <li>
             <h5>LLB Law (2.1)</h5>
             <p>University of Hertfordshire | 2011-2014 </p>
         </li>
         <li>
             <h5>History (B), Politics (B), Sociology (B)</h5>
             <p>Sir George Monoux College | 2009-2011</p>
         </li>

         <li>
             <h5>11 GCSE'S A*-B </h5>
             <p>Park View Academy | 2004-2009 </p>
         </li>
       </ol>


  </div>
  <div class="col-md-offset-9 col-md-3 workHistory">
  <h3 class="interestsTitle">Work</h3>
    <h5>Sparta Global</h5>
    <p>Junior Web Developer Consultant | </p>
      <p>Feb 2017 - Dec 2017</p>

    <h5>Lloyds Banking Group</h5>
    <p>Junior BA/Software tester | </p>
      <p>June 2016 - Dec 2016</p>
  </div>
</div>
</div>
</div>



<div id="contact" class="bottom">
    <hr class="longer-line">
  </div>

  <div class="copyright">
    <center> © Asma Chaima 2017 </center>
  </div>
