
<div ng-controller="ProfileController as profile">
  <div class="background-properties" ng-class="profile.image">

    <div id="sidebar" class="col-md-7">
      <!-- <section class="section-box"> -->
        <h1 ng-mouseover="profile.showProfile()"
            ng-class="{'un-selected-section': !profile.isProfileVisible,
                       'selected-section': profile.isProfileVisible}">Asma Chaima</h1>
                       <p>yo yo </p>
      <!-- </section> -->
      <section class="section-box">
        <h1 ng-mouseover="profile.showSkills()"
            ng-class="{'un-selected-section': !profile.isSkillsVisible,
                       'selected-section': profile.isSkillsVisible}">Skills</h1>
      </section>

    <div class="col-md-6">
      <section class="section-box">
        <h1 ng-mouseover="profile.showEducation()"
            ng-class="{'un-selected-section': !profile.isEducationVisible,
                       'selected-section': profile.isEducationVisible}">Education</h1>

                               <h5>LLB Law (2.1)</h5>

                               <p>University of Hertfordshire | 2011-2014</p>

                               <h5>History (B), Politics (B), Sociology (B)</h5>

                               <p>Sir George Monoux College | 2009-2011</p>

                               <h5>11 GCSE'S A*-B</h5>

                               <p>Park View Academy | 2004-2009</p>
      </section>
    </div>

    <div class="col-md-offset-6">
      <section class="section-box">
        <h1 ng-mouseover="profile.showProfessional()"
            ng-class="{'un-selected-section': !profile.isProfessionalVisible,
                       'selected-section': profile.isProfessionalVisible}">Professional</h1>

      </section>
    </div>
    </div>


<!--****************************************************************************************************-->


    <div id="page-content" class="col-md-offset-7">
      <section ng-if="profile.isProfileVisible" class="section-content-container" id="profile">
        <img width="470px" ng-src="../images/me.jpg"/>
      </section>

      <section ng-if="profile.isSkillsVisible" class="section-content-container">
        <ul>
          <li ng-repeat="skill in profile.skills" class="skillsList">
          <img ng-src="{{skill.img}}" class="skillImage"><p class="skillsTitle">{{skill.title}}</p></li>
        </ul>
      </section>


      <section ng-if="profile.isEducationVisible" class="section-content-container">
      </section>

      <section ng-if="profile.isProfessionalVisible" class="section-content-container">
      </section>
    </div>
  </div>

</div>












<!--
<ol>
  <h3>Education</h3>

<h5>LLB Law (2.1)</h5>

<p>University of Hertfordshire | 2011-2014</p>

<h5>History (B), Politics (B), Sociology (B)</h5>

<p>Sir George Monoux College | 2009-2011</p>

<h5>11 GCSE'S A*-B</h5>

<p>Park View Academy | 2004-2009</p>

<h3>Interests</h3>

<h3>Volunteering</h3>
<ul>
  <li>Trainer at Code First: Girls</li>
  <li>Restless Development, Zimbabwe</li>
  <li>Citizen Advice Bureau</li>
  <li>Mount Snowden climb, Mind</li>
</ul>




  <li><h3>Employment History</h3>


<h3>Skills</h3>
</ol>

 -->
